.hngsr-popup .controls {
    display: flex;
    border-radius: 200px;
    background: #141414;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 8px 40px 8px 16px;
    margin: 20px;
    width: 551px;
    border: 8px solid #E5E5E5;
    z-index: 99999999;
}

.hngsr-popup .controls .recording-icon {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #C00404;
    margin: 0 10px;
}

.hngsr-popup .duration {
    border-right: 1px solid #E8E8E8;
    padding: 16px;
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.hngsr-popup .control-icons{
    display: flex;
    column-gap: 24px;
}

.hngsr-popup .control {
    border-radius: 32px;
    border: 1px solid #FFF;
    background: #FFF;
    display: flex;
    width: 44px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.hngsr-popup .controls p {
    color: #FFFFFF;
    font-family: Work Sans, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding-top: 3px;
}

.hngsr-popup .controls .delete {
    border: 1px solid #000;
    background: #4B4B4B;
}
